contourpy==1.0.7
crcmod==1.7
cycler==0.11.0
et-xmlfile==1.1.0
flask
fonttools==4.39.4
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
openpyxl==3.1.2
packaging==23.1
Pillow==9.5.0
pyparsing==3.0.9
PyQt6
PyQt6-Qt6
PyQt6-sip
PyQt6-Charts
PyQt6-Charts-Qt6
pyserial==3.5
python-dateutil==2.8.2
scipy==1.10.1
segno
simple-pid==2.0.0
six==1.16.0
